.re-userinfo-box-headerlink {
	margin: 20px auto 0px;
	text-align: center;
}
.re-userinfo-box-headerlink img{
	width: 0.76rem;
    height: 0.76rem;
    border-radius: 100%;
}
.re-userinfo-box-title {
	margin-bottom: 0.12rem;
	padding-left: 0.16rem;
    padding-right: 0.16rem;
    font-size: 20px;
    line-height: 0.28rem;
    display: block;
    text-align: center;
}
.re-userinfo-box-description {
	padding-left: 0.16rem;
    padding-right: 0.16rem;
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 0.24rem;
    margin: 0 auto 0.18rem;
    text-align: center;
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.re-userinfo-box-foucs {
	text-align: center;
    position: relative;
    margin-bottom: 18px;
    font-size: 14px;
}
.re-userinfo-box-foucsbutton {
	width: 90px;
    height: 36px;
    line-height: 34px;
    border-color: #50C87E;
    color: #50C87E;
    border: 1px solid;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
    background: none;
    margin-bottom: 18px;
}
.re-userinfo-box-slidedown {
	position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 70px;
    color: #333;
    font-size: 16px;
    line-height: 1;
}
.re-userinfo-box-muen {
	width: 128px;
    margin-top: 8px!important;
    right: -20px;
	position: absolute;
	border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
    background: #fff;
    display: none;
}
.re-userinfo-box-muen a{
	line-height: 54px;
    font-size: 14px;
}
.re-userinfo-box-followers {
    color: gray;
    text-align: center;
    font-size: 14px;
}
