.re-changebuttn {
	text-align: center;
    margin: 36px 0 0;
	font-size: 13px;
}
.re-changebuttn a {
	position: relative;
	display:inline-block;
    width:80px;
	height: 30px;
    line-height: 30px;
    box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 4px;
	font-size: 13px;
	cursor: pointer;
	padding-right: 10px;
	color: #333;
}
.re-changebuttn .icon-ic_refresh {
	position: relative;
    font-size: 24px;
    margin-right: 4px;
    display: inline-block;
}
.re-changebuttn span {
	display: inline-block;
	height: 30px;
    line-height: 30px;
    float: right;
}