.ReactTopbar-box {
	height: 0.59rem;
	font-size: 14px;
	background: rgba(255,255,255,.96);
	border-bottom: 1px solid rgba(0,0,0,.08);
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 99
}
.ReactTopbar-box [class^=icon-],[class*=" icon-"] {
	font-size: 24px;
	color: gray;
}
.ReactTopbar-box-logo {
	float: left;
}
.ReactTopbar-box-logo ,.ReactTopbar-box-slidedown .icon-ic_nav_more{
	float: left;
	width: 0.58rem;
	height: 0.58rem;
	line-height: 58px;
	text-align: center;
}
.ReactTopbar-box-slidedown .icon-ic_nav_more{
	text-align: right;
}
.ReactTopbar-box-slidedown {
	position: relative;
	float: right;
	margin-right: 0.16rem;
}
.ReactTopbar-box-slidedown ul {
	position: absolute;
	right: -0.08rem;
	top: 0.58rem;
	width: 220px;
	background-color: #fff;
	z-index: 99;
	border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
}
.ReactTopbar-box-slidedown li {
	height: 0.54rem;
	line-height: 0.54rem;
	margin: 0 16px;
}
.ReactTopbar-box-slidedown li a{
	color: #333;
}